name: build

on:
  pull_request:
    branches:
      - '**'
    tags-ignore:
      - v*
  push:
    branches:
      - '**'
    tags-ignore:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v1
      -
        name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.x
      -
        name: Verify Go Modules
        run: go mod download
      -
        name: Vet
        run: go vet ./...
      -
        name: Build
        run: go build -o /dev/null
